:root {  
    font-size: 16px;
    

.cabecalho {
    background-color: var(--cor-neutra-dark);
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;

    @media(min-width: 768px) {
    
    }
}

.cabecalho__logo {
    margin-left: 1rem;

    @media(min-width: 768px) {
        margin:0;
    }
}
.cabecalho__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(min-width: 768px) {
    
    }
}

.cabecalho__barra {
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.cabecalho__barra__lista {
    list-style: none;
    display: none;
    align-items: center;
    text-align: center;
    gap: var(--gap-l);
    margin-right: 1rem;

    @media(min-width: 768px) {
        display: flex;
        gap: var(--gap-s);
    }
}

.cabecalho__barra__lista-item {
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-weight: var(--peso-bold);
    font-size: var(--font-size-m);
    color: var(--cor-terciaria-light);
    letter-spacing: var(--letter-spacing);
    cursor: pointer;

    @media(min-width: 768px) {
        font-size: var(--font-size-b);
    }
}

.cabecalho__barra__lista-item:hover {
    color: var(--cor-primaria-light);
}

.cabecalho__barra__lista-botao {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
    padding: 2rem 0;
    gap: var(--gap-s);

    @media(min-width: 769px) {
        display: none;
    }
}

.cabecalho__botoes {
    display: none;

    @media(min-width: 769px) {
        display: flex;
        align-items: center;
        padding: var(--padding-s);
        gap: var(--gap-xs);
    }
}

.cabecalho__botoes__login, 
.cabecalho__botoes__cadastro, 
.cabecalho__barra__lista-botao-login, 
.cabecalho__barra__lista-botao-cadastro {
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-weight: var(--peso-bold);
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: var(--borda-redonda);
    transition: .3s ease-in-out;
    letter-spacing: var(--letter-spacing);
}

.cabecalho__botoes__login:hover, .cabecalho__botoes__cadastro:hover {
    opacity: 0.9;
    background-color: var(--cor-primaria-medium);

}

.cabecalho__botoes__login, .cabecalho__barra__lista-botao-login {
    color: #FFFFFF;
    background-color: var(--cor-primaria-light);
}

.cabecalho__botoes__cadastro, .cabecalho__barra__lista-botao-cadastro {
    background-color: var(--cor-secundaria-dark);
    color: #FFFFFF;
}



#btn-mobile {
    display: none;

}

    @media(max-width: 768px) {

    body {
        overflow-x: hidden;
    }
    
    .cabecalho__barra__lista {
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 100px;
        height: 100vh;
        left: 0;
        width:100vw;
        padding: var(--padding-s);
        z-index: 1000;
        transition: .3s ease-in;
        transform: translateX(-100%);
        visibility: hidden;
        background-color: var(--cor-neutra-dark);

    }

    .cabecalho__barra__lista-item {
        padding: 1rem 0;
        margin: 0 1rem;
        cursor: pointer;
        display: flex;
        border-bottom: 1px solid var(--cor-primaria-light);
        font-size: var(--font-size-b);
    }

    .cabecalho__barra__lista-item:hover {
        color: var(--cor-primaria-light);
    }

    #btn-mobile {

    display: flex;
    border: none;
    background: none;
    cursor:pointer;
    padding: 0.5rem 1rem;
    color:var(--cor-neutra-dark);
    gap: var(--gap-xs);
    font-size: var(--font-size-b);

    }

    
#nav.active .cabecalho__barra__lista {
    height: calc(100vh - 100px);
    visibility: visible;
    transform:translateX(0);

}

#hamburguer {
    border-top: 2px solid var(--cor-neutra-light);
    width: 20px;
    color: var(--cor-neutra-light);
}

#hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: .3s;
    position: relative;
}
#nav.active #hamburguer {
    border-top-color: transparent;
    color: var(--cor-primaria-medium);
}
#nav.active #hamburguer::before {
    transform: rotate(135deg);
}
#nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}
}
}