@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {  
    
    font-size: 16px;
    --fonte-titulo: 'PlayFair Display', serif;
    --fonte-texto: 'Roboto Slab', serif;
    --peso-regular: 400;
    --peso-bold: 700;
    --letter-spacing: 2px;


    --font-size-2xl:3.75rem;
    --font-size-xl:3rem;
    --font-size-l: 2rem;
    --font-size-2m: 1.5rem;
    --font-size-m: 1.25rem;
    --font-size-b: 1rem;
    --font-size-s: 0.75rem;
    --font-size-xs: 0.5rem;

    --cor-amarelo-lager: #F6D77A;
    --cor-amarelo-weiss: #DDA55E;
    --cor-amarelo-witbier: #D28D19;
    --cor-branco-colarinho: #E0DED2;
    --cor-castanho-apa: #A35503;
    --cor-castanho-pilsen: #C67808;
    --cor-castanho-escuro-colarinho: #4E433E;
    --cor-dourado-golden-ale: #EAA500;
    --cor-laranja-session-ipa: #B83E00; 
    --cor-marrom-stout: #2B0203;
    --cor-preta-dunkel: #1F1E20;
    --cor-vermelha-red-ale: #9B2800;
    --cor-background: linear-gradient(90deg, rgba(221,165,94,1) 0%, rgba(210,141,25,1) 50%, rgba(198,120,8,1) 100%);

    --padding-2xl:4rem;
    --padding-xl: 3rem;
    --padding-l: 2rem;
    --padding-m: 1.5rem;
    --padding-s: 1rem;
    --padding-xs: 0.875rem;
    --padding-2xs: 0.5rem;

    --gap-2xl: 4rem;
    --gap-xl: 3rem;
    --gap-l: 2rem;
    --gap-m: 1.5rem;
    --gap-s: 1rem;
    --gap-xs: 0.5rem;

    --borda-redonda: 4px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: var(--cor-preta-dunkel);
    height: 85px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media(min-width: 768px) {
        padding: var(--padding-s);
    }
}

.cabecalho__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(min-width: 768px) {
    gap: var(--gap-s);
    }
}

.cabecalho__barra {
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.cabecalho__barra__lista {
    list-style: none;
    display: none;
    align-items: center;
    text-align: center;
    gap: var(--gap-l);
    margin-right: 1rem;

    @media(min-width: 768px) {
        display: flex;
        gap: var(--gap-s);
    }
}

.cabecalho__barra__lista-item {
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-weight: var(--peso-bold);
    font-size: var(--font-size-m);
    color: var(--cor-amarelo-lager);
    letter-spacing: var(--letter-spacing);
    cursor: pointer;

    @media(min-width: 768px) {
        font-size: var(--font-size-b);
    }
}

.cabecalho__barra__lista-item:hover {
    color: var(--cor-laranja-session-ipa);
}

.cabecalho__barra__lista-botao {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
    padding: 2rem 0;
    gap: var(--gap-s);

    @media(min-width: 769px) {
        display: none;
    }
}

.cabecalho__botoes {
    display: none;

    @media(min-width: 769px) {
        display: flex;
        align-items: center;
        padding: var(--padding-s);
        gap: var(--gap-xs);
    }
}

.cabecalho__botoes__login, 
.cabecalho__botoes__cadastro, 
.cabecalho__barra__lista-botao-login, 
.cabecalho__barra__lista-botao-cadastro {
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-weight: var(--peso-bold);
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: var(--borda-redonda);
    transition: .3s ease-in-out;
    letter-spacing: var(--letter-spacing);
}

.cabecalho__botoes__login:hover, .cabecalho__botoes__cadastro:hover {
    opacity: 0.9;
    background-color: var(--cor-vermelha-red-ale);

}

.cabecalho__botoes__login, .cabecalho__barra__lista-botao-login {
    color: #FFFFFF;
    background-color: var(--cor-laranja-session-ipa);
}

.cabecalho__botoes__cadastro, .cabecalho__barra__lista-botao-cadastro {
    background-color: var(--cor-castanho-apa);
    color: #FFFFFF;
}



#btn-mobile {
    display: none;

}

    @media(max-width: 768px) {

    body {
        overflow-x: hidden;
    }
    
    .cabecalho__barra__lista {
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 85px;
        height: 100vh;
        left: 0;
        width:100vw;
        padding: var(--padding-s);
        z-index: 1000;
        transition: .3s ease-in;
        transform: translateX(-100%);
        visibility: hidden;
        background-color: var(--cor-preta-dunkel);

    }

    .cabecalho__barra__lista-item {
        padding: 1rem 0;
        margin: 0 1rem;
        cursor: pointer;
        display: flex;
        border-bottom: 1px solid var(--cor-laranja-session-ipa);
        font-size: var(--font-size-b);
    }

    .cabecalho__barra__lista-item:hover {
        color: var(--cor-laranja-destaque);
    }

    #btn-mobile {

    display: flex;
    border: none;
    background: none;
    cursor:pointer;
    padding: 0.5rem 1rem;
    color:var(--cor-preto-escuro);
    gap: var(--gap-xs);
    font-size: var(--font-size-b);

    }

    
#nav.active .cabecalho__barra__lista {
    height: calc(100vh - 100px);
    visibility: visible;
    transform:translateX(0);

}

#hamburguer {
    border-top: 2px solid var(--cor-branco-colarinho);
    width: 20px;
    color: var(--cor-branco-colarinho);
}

#hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: .3s;
    position: relative;
}
#nav.active #hamburguer {
    border-top-color: transparent;
    color: var(--cor-vermelha-red-ale);
}
#nav.active #hamburguer::before {
    transform: rotate(135deg);
}
#nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}
}
}