.anuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-s);
    height: 100vh;
    gap: var(--gap-l);
    position: relative;
}

.anuncio__texto {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);

}

.anuncio__texto > h1 {
    text-align: center;
    color:var(--cor-primaria-medium);
}

.anuncio__texto > h2 {
    text-align: center;
    color: var(--cor-primaria-dark);
}

.anuncio__texto > p {
    color: var(--cor-neutra-light);
    text-align: left;
}

.anuncio__texto > p > strong {
    font-weight: var(--peso-bold);
}

.anuncio__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/img/beer-background-filter.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.anuncio__botao {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 0;
    background-color: var(--cor-neutra-dark);
    border: 2px solid var(--cor-neutra-dark);
    border-radius: var(--border-radius-s);
    width:17.5rem;
    height: 3rem;

}

.anuncio__botao > a {
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: var(--font-size-m);
    color: var(--cor-neutra-light);
    cursor: pointer;
    
}

.anuncio__botao:hover {
    background-color: var(--cor-primaria-dark);
}

/*SECTION 02 */

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-s);
    gap: var(--gap-m);
    height: 100vh;
    position: relative;
}

.produtos__background {
    position: absolute;
    z-index: -1;
    background: url(../assets/img/madeira\ 001.jpg);
    background-repeat: repeat;
    background-size: cover cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    opacity: 0.5;
}

.produtos > h2 {
    color: var(--cor-primaria-dark);
    margin-top: 1rem;
}

.produtos > h3 {
    color: var(--cor-neutra-light);
    text-align: center;
}

.produtos__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-m);
    width: calc(100vw - 32px);

}

.btn-clara,
.btn-escura,
.btn-nome, 
.btn-estilo, 
.btn-teor, 
.btn-amargor {
    width: 80%;
    height: 2.75rem;
    font-family: var(--fonte-texto);
    font-weight: var(--peso-bold);
    font-size: var(--font-size-b);
    color: var(--cor-neutra-light);
    background-color: var(--cor-primaria-medium);
    border: 2px solid var(--cor-primaria-medium);
    border-radius: var(--borda-redonda);
}

.btn-clara:hover, 
.btn-escura:hover, 
.btn-nome:hover, 
.btn-estilo:hover, 
.btn-teor:hover, 
.btn-amargor:hover {
    background-color: var(--cor-terciaria-medium);
    border: 2px solid var(--cor-terciaria-medium);
    color: var(--cor-primaria-light);
}

.cervejas__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-m) var(--padding-s);
    gap: var(--gap-s);
}

.cervejas__wrap__titulo {
    font-size: var(--font-size-l);
    color: var(--cor-primaria-medium);
    text-align: center;
}

.card {
    border: 5px solid var(--cor-secundaria-dark);
    border-radius: var(--borda-redonda);
    padding: var(--padding-s);
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 20px var(--cor-primaria-light);
    transform: transition 0.3s ease;

}

.card:nth-child(odd):hover {
    box-shadow: 0 0 50px var(--cor-primaria-medium);
}

.card:nth-child(even):hover {
    box-shadow: 0 0 50px var(--cor-primaria-dark);
}

.card > img {
    width: 15.6rem;
}

.card:nth-child(odd):hover img {
    scale: (1.1);
    box-shadow: 0 0 50px var(--cor-primaria-light);
}

.card:nth-child(even):hover img {
    scale: (1.1);
    box-shadow: 0 0 50px var(--cor-primaria-light);
}

.card__texto {
    display: flex;
    flex-direction: column;
    padding: var(--padding-s);
    gap: var(--gap-s);
}

.card__texto > h3 {
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-2m);
    font-weight: 900;
    color: var(--cor-primaria-medium);
    text-align: center;
}

.card__texto__descricao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
}

.card__texto__descricao > h4 {
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-m);
    color: var(--cor-neutra-light);
}

.card__texto__descricao > p {
    font-family: var(--fonte-texto);
    font-size: var(--font-size-b);
    color: var(--cor-neutra-dark);
}

.card__info > h4 {
    font-family: var(--fonte-titulo);
    font-weight: var(--peso-bold);
    font-size: var(--font-size-b);
    color: var(--cor-primaria-light);
}

.card__info > p {
    font-family: var(--fonte-texto);
    font-size: var(--font-size-b);
    color: var(--cor-neutra-medium);
    font-weight: var(--peso-regular);
}

.card > span {
    background-color: #D9d9d9;
    color: var(--cor-neutra-medium);
    font-family: var(--fonte-texto);
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .anuncio {
        height: 100vh;
    }
}